.caption {
  padding-inline-start: 1rem;
  font-size: 0.8rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
}

/* .toolbar-container {
  padding-inline-start: var(--ion-space) !important;
  padding-inline-end: var(--ion-space) !important;
} */

.capitalize {
  text-transform: capitalize;
}
.uppercase {
  text-transform: uppercase;
}
.flex {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}
.justify-between {
  justify-content: space-between;
}

.header {
  /* padding-left: var(--ion-space);
  padding-right: var(--ion-space); */
}

@media (min-width: 768px) {
  .container {
    padding-left: calc(2 * var(--ion-space));
    padding-right: calc(2 * var(--ion-space));
  }
}

@media (min-width: 1024px) {
  .container {
    padding-left: calc(10 * var(--ion-space));
    padding-right: calc(10 * var(--ion-space));
  }
}
