/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #00b17f;
  --ion-color-primary-rgb: 37, 188, 145;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #289e7d;
  --ion-color-primary-tint: #2ecfa2;

  /** secondary **/
  --ion-color-secondary: #9194f3;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #42446c;
  --ion-color-secondary-tint: #63659d;

  /** tertiary **/
  --ion-color-tertiary: 'transparent';
  --ion-color-tertiary-rgb: 0, 0, 0, 0;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: 'transparent';
  --ion-color-tertiary-tint: 'transparent';

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #1e2023;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /* 121212 */

  /** Custom CSS Variables **/
  --ion-space: 1rem;
  --ion-padding: 1rem;

  --text-color: #2a2a2a;

  --border-radius: 1rem;

  --ion-text-color: #2a2a2a;

  --background: #f5f5f5;
  --ion-background-color: rgb(245, 245, 245);
  --ion-background-color-rgb: 245, 245, 245;
  --ion-card-background: #ffffff;
}

/* .ios body {
  --background: #363756;
  --ion-background-color: #363756;
  --ion-background-color-rgb: 54, 55, 86;

  --ion-item-background: #363756;
  --ion-card-background: #53548a;
  --ion-text-color: rgb(245, 244, 244);
  --ion-text-color-rgb: 245, 244, 244;
} */

ion-toolbar,
ion-tab-bar {
  --background: var(--ion-background-color);
  --color: var(--ion-text-color);
}
ion-back-button {
  --color: var(--ion-text-color);
}
ion-header {
  background: var(--background);
}

html {
  /* For more information on dynamic font scaling, visit the documentation: 
  https://ionicframework.com/docs/layout/dynamic-font-scaling */
  --ion-dynamic-font: var(--ion-default-dynamic-font);
  --ion-font-family: 'Onest Variable', sans-serif;
  --padding-top: 1rem;
  --padding-bottom: 1rem;
  --padding-start: 1rem;
  --padding-end: 1rem;
}

.ion-color-header {
  background: var(--ion-color-header);
  --ion-color-base: var(--ion-color-header);
  --ion-color-base-rgb: var(--ion-color-header-rgb);
  --ion-color-contrast: var(--ion-color-header-contrast);
  --ion-color-contrast-rgb: var(--ion-color-header-contrast-rgb);
  --ion-color-shade: var(--ion-color-header-shade);
  --ion-color-tint: var(--ion-color-header-tint);
}

@media (min-width: 1280px) {
  html {
    font-size: 13px;
  }
}
