.calendar-page ion-datetime {
  padding-top: 2rem;
  --background: transparent;
}

.container.events {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.container.events ion-item {
  width: 100%;
}
