.people-items {
  position: relative;
  width: max-content;
}
.people-items .ion-avatar {
  position: relative;
}

.people-items .ion-avatar:last-of-type {
  top: 0;
  right: -25px;
  position: absolute;
}
.people-items .ion-avatar:first-of-type {
  top: 0;
  right: 0px;
  position: relative;
}

.people-items ion-badge {
  position: absolute;
  top: 0;
  left: 125%;
}
