.ion-avatar {
  border: 2px solid #ffffff;
  border-radius: '50%';
}
.avatar-text {
  color: '#FFFFFF';
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ffffff;
  border-radius: '50%';
}
