.event-item {
  width: 100%;
  height: 45vh;
  position: relative;
  margin-bottom: var(--ion-space);
  border-radius: 1rem;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 2rem;
}
.event-item .event-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0;
}

.event-item .event-image {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  z-index: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.event-item .event-image::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);

  background: linear-gradient(0deg, rgba(42, 42, 42, 0.6) 0%, rgba(42, 42, 42, 0.5) 45%, rgba(42, 42, 42, 0) 100%);
}

.event-item .event-details {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  z-index: 2;
  padding: calc(1.5 * var(--ion-space));
}

.event-item .event-date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.event-item .event-title {
  display: flex;
  z-index: 999;
  flex-direction: column;
}

@media (min-width: 640px) {
  .event-item {
    height: 40vh;
    margin-left: 0;
    margin-right: 0;
  }
}
